.split
{
    height: 100%;
    width: 20%;
    position:fixed;
    z-index: 1;
    top: 0;

    padding-top: 50%;
}

.left
{
    left: 0;
    background-color: #5352d4;
}

.right
{
    right: 0;
    background-color: ghostwhite;
}

.split1
{
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.centered
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.picture
{
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-sizing: border-box;
}



img
{
    max-width: 100%;
    height: auto;
}


.name
{
    color: white;
}

.centered .name span {
    color: #d8d8e9;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    float: left;
    margin-top: 2px;
    margin-left: 4px;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    color: white;
    padding: 0;

}
.left .social_network_icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social_network_icon{
    margin-top: 30px;
}
 .li{
      display: inline-block;
     float: left;
     margin: 15px 17px

 }
.centered .nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered .nav ul li{
    padding-bottom: 15px;
}

li{
    padding: 0 0 30px;
}

.centered .nav ul li a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    margin-right: 100%;



}
#head
{
    margin: 50px 75px ;
    color: #f74470;
    font-family: "Poppins", sans-serif;

}


#parag{
    font-size: 20px;
    margin-left: -10px;
    font-family: Arial;
    font-weight: 300;


}

.info{
    list-style: none;
    margin-top: 60px;
    margin-left: 40px;
}